@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
button,
input,
a {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 300;
}

/* https://type-scale.com/ */
/* h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  li {
    font-size: 0.9rem;
  }
  label {
    font-size: 0.9rem;
  }
  button {
      font-size: 1rem;
  } */

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* body,
html {
  background-color: #fff;
  color: #151515;
} */

*:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

::placeholder {
  color: #242424;
  /* opacity: 0.6; */
}
